---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-private-key
      - id: debug-statements
      - id: double-quote-string-fixer
      - id: name-tests-test
      - id: requirements-txt-fixer
  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: .venv/bin/yamllint
        language: python
        types: [yaml]
      - id: ansible-lint
        name: ansible-lint
        entry: .venv/bin/ansible-lint
        language: python
        types: [yaml]
