---
- name: Install java
  when: not (java_role_skip | default(false))
  block:
    - name: Install jEnv
      homebrew:
        name: jenv
      when: java_versions is truthy

    - name: Set jEnv root fact
      command: jenv root
      changed_when: false
      register: java_jenv_root
      when: java_versions is truthy

    - name: Install Temurin versions
      loop: "{{ java_versions }}"
      include_tasks: temurin.yml

    - name: Set jEnv global {{ java_jenv_global | join(' ') }}
      copy:
        content: "{{ java_jenv_global | join('\n')  }}"
        dest: "{{ java_jenv_root.stdout }}/version"
        mode: "0755"
      when: java_jenv_global

    - name: Add jEnv plugins
      shell:
        cmd: eval "$(jenv init -)" && jenv enable-plugin {{ item }}
        executable: /bin/zsh
      register: java_jenv_plugin
      changed_when: "'plugin activated' in java_jenv_plugin.stdout"
      failed_when: "java_jenv_plugin.rc != 0 or ('plugin activated' not in java_jenv_plugin.stdout and 'plugin already enabled' not in java_jenv_plugin.stdout)"
      loop: "{{ java_java_jenv_plugins }}"
      when: java_versions is truthy
