---
- name: Install VSCode
  homebrew_cask:
    name: visual-studio-code
    state: present

- name: Install VSCode extensions
  command: "code --install-extension {{ item }}"
  with_items: "{{ ide_vscode_extensions }}"
  register: ide_code_install
  changed_when:
    - ide_code_install.rc == 0
    - "'successfully installed' in ide_code_install.stdout"
  when: ide_vscode_extensions is truthy
